
input[type=text], input[type=password], textarea {
    cursor: auto;
    position: absolute;
    height: 20px;
    width: 80px;
    background-color: white;
    color: black;
    border: 0px;
    margin: 0px;
    padding: 0px;
    outline-width: 0;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    border: 2px solid transparent;
    border-image: url('resources/textbox.png') 2 2 2 2 stretch;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 1px;
    padding-bottom: 1px;
    padding-right: 2px;
}

.picturebox {
    position: absolute;
    background-color: white;
    color: black;
    border: 0px;
    margin: 0px;
    padding: 0px;
    outline-width: 0;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    border: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
}

.picturebox-3d {
    position: absolute;
    background-color: white;
    color: black;
    border: 0px;
    margin: 0px;
    padding: 0px;
    outline-width: 0;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    border: 2px solid transparent;
    border-image: url('resources/picturebox-3d.png') 2 2 2 2 stretch;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
}

.option-button > input[type=radio], .checkbox > input[type=checkbox] {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: absolute;
    height: 0;
    width: 0;
    margin: 0px;
}

.option-button > label, .checkbox > label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    left: 18px;
    position: absolute;
    cursor: default;
    margin: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

    .option-button > label:focus, .checkbox > label:focus {
        outline: 1px dotted black;
        outline-offset: 0px;
    }

.option-button > input[type=radio]::after {
    display: block;
    position: absolute;
    top: 0;
    left: 1px;
    height: 12px;
    width: 12px;
    content: ' ';
    background: url('resources/option.png') 0 0
}

.option-button > input[type=radio]:checked::after {
    background: url('resources/option.png') 0 -24px
}

.option-button > input[type=radio]:active::after {
    background: url('resources/option.png') 0 -12px
}

.option-button > input[type=radio]:checked:active::after {
    background: url('resources/option.png') 0 -36px
}

.checkbox > input[type=checkbox]::after {
    display: block;
    position: absolute;
    top: 0;
    left: 1px;
    height: 13px;
    width: 13px;
    content: ' ';
    background: url('resources/checkbox.png') 0 0
}

.checkbox > input[type=checkbox]:checked::after {
    background: url('resources/checkbox.png') 0 -26px
}

.checkbox > input[type=checkbox]:active::after {
    background: url('resources/checkbox.png') 0 -13px
}

.checkbox > input[type=checkbox]:checked:active::after {
    background: url('resources/checkbox.png') 0 -39px
}

.option-button {
    position: absolute;
}

.checkbox {
    position: absolute;
}

.panelframe-none {
    position: absolute;
}

    .panelframe-none::before {
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        content: ' ';
        border: 0px solid transparent;
    }

.panelframe-single {
    overflow: hidden;
    position: absolute;
}

    .panelframe-single::before {
        height: calc(100% - 2px);
        width: calc(100% - 2px);
        display: block;
        position: relative;
        content: ' ';
        border: 1px solid transparent;
        border-top: 1px solid transparent;
        border-image: url(resources/panelframe_single.png) 1 1 1 1 stretch;
    }

.panelframe-3d {
    overflow: hidden;
    position: absolute;
}

    .panelframe-3d::before {
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        display: block;
        position: relative;
        content: ' ';
        border: 2px solid transparent;
        border-top: 2px solid transparent;
        border-image: url(resources/panelframe_3d.png) 2 2 2 2 stretch;
    }

.frame {
    overflow: hidden;
    position: absolute;
}

    .frame::before {
        height: calc(100% - 10px);
        width: calc(100% - 4px);
        display: block;
        position: relative;
        content: ' ';
        border: 2px solid transparent;
        border-top: 8px solid transparent;
        border-image: url(resources/groupbox.png) 8 2 2 2 stretch;
    }

.frame-title {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 7px;
    padding-left: 2px;
    padding-right: 2px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.button p {
    white-space: normal; 
    overflow-wrap: break-word; 
    margin: 0; 
}

.button {
    overflow: hidden;
    position: absolute;
    height: 20px;
    width: 80px;
    color: black;
    border: 0px;
    margin: 0px;
    padding: 0px;
    outline-width: 0;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    border: 2px solid transparent;
    border-image: url('resources/button-state-normal.png') 2 2 2 2 stretch;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

    .button:focus {
        border: 3px solid transparent;
        border-image: url('resources/button-state-focus.png') 3 3 3 3 stretch;
        outline: 1px dotted black;
        outline-offset: -5px;
    }


    .button:active, .button:active:focus {
        border: 2px solid transparent;
        border-image: url('resources/button-state-pressed.png') 2 2 2 2 stretch;
        outline: 1px dotted black;
        outline-offset: -5px;
        padding-top: 2px;
        padding-left: 2px;
    }

    .button p {
        margin: 0px;
    }

.btn-graphical {
}

.absolute {
    position: absolute;
}

.label {
    font: 10pt calibri;
    position: absolute;
    height: 20px;
    width: 80px;
    background-color: transparent;
    color: black;
    border: 0px;
    margin: 0px;
    padding: 0px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.label-3d {
    font: 10pt calibri;
    position: absolute;
    height: 20px;
    width: 80px;
    background-color: transparent;
    color: black;
    border: 2px solid transparent;
    border-image: url('resources/picturebox-3d.png') 2 2 2 2 stretch;
    margin: 0px;
    padding: 0px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: #F0F0F0;
}

::-webkit-scrollbar-corner {
    background-color: #F0F0F0;
}

::-webkit-scrollbar-button:vertical {
    background-size: 17px;
    height: 17px;
    width: 17px;
    background-position: center bottom;
}

    ::-webkit-scrollbar-button:vertical:decrement {
        background: url("resources/scrollbar/v-top-scroll-arrow.png") 0 0;
    }

        ::-webkit-scrollbar-button:vertical:decrement:hover {
            background: url("resources/scrollbar/v-top-scroll-arrow.png") 0 34px;
        }

        ::-webkit-scrollbar-button:vertical:decrement:active {
            background: url("resources/scrollbar/v-top-scroll-arrow.png") 0 17px;
        }

    ::-webkit-scrollbar-button:vertical:increment {
        background: url("resources/scrollbar/v-bottom-scroll-arrow.png") 0 0;
    }

        ::-webkit-scrollbar-button:vertical:increment:hover {
            background: url("resources/scrollbar/v-bottom-scroll-arrow.png") 0 34px;
        }

        ::-webkit-scrollbar-button:vertical:increment:active {
            background: url("resources/scrollbar/v-bottom-scroll-arrow.png") 0 17px;
        }

::-webkit-scrollbar-button:horizontal {
    background-size: 17px;
    height: 17px;
    width: 17px;
    background-position: center bottom;
}

    ::-webkit-scrollbar-button:horizontal:decrement {
        background: url("resources/scrollbar/h-left-scroll-arrow.png") 0 0;
    }

        ::-webkit-scrollbar-button:horizontal:decrement:hover {
            background: url("resources/scrollbar/h-left-scroll-arrow.png") 0 34px;
        }

        ::-webkit-scrollbar-button:horizontal:decrement:active {
            background: url("resources/scrollbar/h-left-scroll-arrow.png") 0 17px;
        }

    ::-webkit-scrollbar-button:horizontal:increment {
        background: url("resources/scrollbar/h-right-scroll-arrow.png") 0 0;
    }

        ::-webkit-scrollbar-button:horizontal:increment:hover {
            background: url("resources/scrollbar/h-right-scroll-arrow.png") 0 34px;
        }

        ::-webkit-scrollbar-button:horizontal:increment:active {
            background: url("resources/scrollbar/h-right-scroll-arrow.png") 0 17px;
        }

::-webkit-scrollbar-track-piece:vertical {
    width: 17px;
    background: url("resources/scrollbar/v-scroll-bar.png") 0 0;
}

::-webkit-scrollbar-thumb:vertical {
    background: url("resources/scrollbar/v-scroll-bar.png") 51px 0;
}

    ::-webkit-scrollbar-thumb:vertical:hover {
        background: url("resources/scrollbar/v-scroll-bar.png") 34px 0;
    }

    ::-webkit-scrollbar-thumb:vertical:active {
        background: url("resources/scrollbar/v-scroll-bar.png") 17px 0;
    }

::-webkit-scrollbar-track-piece:horizontal {
    height: 17px;
    background: url("resources/scrollbar/h-scroll-bar.png") 0 0;
}

::-webkit-scrollbar-thumb:horizontal {
    background: url("resources/scrollbar/h-scroll-bar.png") 0 51px;
}

    ::-webkit-scrollbar-thumb:horizontal:hover {
        background: url("resources/scrollbar/h-scroll-bar.png") 0 34px;
    }

    ::-webkit-scrollbar-thumb:horizontal:active {
        background: url("resources/scrollbar/h-scroll-bar.png") 0 17px;
    }












.custom-select {
    position: relative;
    font-family: "Microsoft Sans Serif";
    font-size: 8pt;
}

    .custom-select select {
        display: none; /*hide original SELECT element: */
    }

.select-selected {
    border: 1px solid black;
    background-color: white;
    /* border-bottom: 1px; */
    /* border: black; */
}

    .select-selected:after {
        position: absolute;
        content: "";
        top: 5px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: black transparent transparent transparent;
    }

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent black transparent;
        top: 0px;
    }

.select-items div, .select-selected {
    /* color: black; */
    /* padding: 8px 16px; */
    padding: 1px;
    /* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
    cursor: default;
}

.select-items {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #0078D7;
    color: white;
}

.progress {
    border-radius: 0%;
    overflow: hidden;
    position: absolute;
    --progress: calc((attr(data-value number, 0) - attr(data-min number, 0)) / (attr(data-max number, 100) - attr(data-min number, 0)) * 100%);
    --is-complete: max(0, sign(1 - abs(attr(data-value number, 0) - attr(data-max number, 100))));
}

    .progress > .progress-value {
        margin: 2px;
        margin-right: 3px;
        position: absolute;
        left: 0;
        top: 0;
        height: calc(100% - 4px);
        width: calc( calc(var(--progress) - mod(var(--progress), 19px)) * (1 - var(--is-complete)) + ((100% - 5px) * var(--is-complete)) );
        background-image: url(resources/progress-block.png);
        background-repeat: repeat;
        background-size: 19px 100%;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
    }

    .progress::before {
        height: calc(100% - 4px);
        width: calc(100% - 5px);
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
        display: block;
        position: relative;
        content: ' ';
        border: 2px solid transparent;
        border-right: 3px solid transparent;
        border-image: url(resources/progress-border.png) 2 3 2 2 stretch;
        background-color: transparent;
    }