
.icon-1 {
    background-image: url("../icons/martello.png");
}

.icon-2 {
    background-image: url("../icons/cabinet.png");
}

.icon-3 {
    background-image: url("../icons/occhiali.png");
}

.icon-4 {
    background-image: url("../icons/utenti.png");
}

.icon-5 {
    background-image: url("../icons/chiavemartello.png");
}

.icon-6 {
    background-image: url("../icons/info.png");
}

.icon-7 {
    background-image: url("../icons/timeline.png");
}

.icon-8 {
    background-image: url("../icons/connection2.png");
}

.icon-9 {
    background-image: url("../icons/ingranaggi.png");
}

.icon-10 {
    background-image: url("../icons/presa.png");
}

.icon-11 {
    background-image: url("../icons/dbimport.png");
}

.icon-12 {
    background-image: url("../icons/dbexport.png");
}

.icon-13 {
    background-image: url("../icons/table.png");
}

.icon-14 {
    background-image: url("../icons/utente.png");
}

.icon-15 {
    background-image: url("../icons/lucchettochiuso.png");
}

.icon-16 {
    background-image: url("../icons/graficotorta.png");
}

.icon-17 {
    background-image: url("../icons/stampa.png");
}

.icon-18 {
    background-image: url("../icons/bidone.png");
}

.icon-19 {
    background-image: url("../icons/squadramatita.png");
}

.icon-20 {
    background-image: url("../icons/graficomatita.png");
}

.icon-21 {
    background-image: url("../icons/auto.png");
}

.icon-22 {
    background-image: url("../icons/calendario.png");
}

.icon-23 {
    background-image: url("../icons/checkbox.png");
}

.icon-24 {
    background-image: url("../icons/warning.png");
}

.icon-25 {
    background-image: url("../icons/graficobarre.png");
}

.icon-26 {
    background-image: url("../icons/lucchettoaperto.png");
}

.icon-27 {
    background-image: url("../icons/camion.png");
}

.icon-28 {
    background-image: url("../icons/zoompiu.png");
}

.icon-29 {
    background-image: url("../icons/zoommeno.png");
}

.icon-30 {
    background-image: url("../icons/cerca.png");
}

.icon-31 {
    background-image: url("../icons/db.png");
}

.icon-32 {
    background-image: url("../icons/barcode.png");
}

.icon-33 {
    background-image: url("../icons/boxclosed.png");
}

.icon-34 {
    background-image: url("../icons/calculator.png");
}

.icon-35 {
    background-image: url("../icons/clock-2.png");
}

.icon-36 {
    background-image: url("../icons/docexcel.png");
}

.icon-37 {
    background-image: url("../icons/filenew.png");
}

.icon-38 {
    background-image: url("../icons/key.png");
}

.icon-39 {
    background-image: url("../icons/mail.png");
}

.icon-40 {
    background-image: url("../icons/numbers.png");
}

.icon-41 {
    background-image: url("../icons/percent.png");
}

.icon-42 {
    background-image: url("../icons/quickinfo.png");
}

.icon-43 {
    background-image: url("../icons/cardfile.png");
}

.icon-44 {
    background-image: url("../icons/edit-2.png");
}

.icon-45 {
    background-image: url("../icons/favs.png");
}

.icon-46 {
    background-image: url("../icons/dbcancel.png");
}

.icon-47 {
    background-image: url("../icons/decimalsdecrease.png");
}

.icon-48 {
    background-image: url("../icons/pallet.png");
}

.icon-49 {
    background-image: url("../icons/bobine.png");
}

.icon-50 {
    background-image: url("../icons/ampolla.png");
}

.icon-51 {
    background-image: url("../icons/nook.png");
}

.icon-52 {
    background-image: url("../icons/frecce.png");
}

.icon-53 {
    background-image: url("../icons/magazzino.png");
}

.icon-54 {
    background-image: url("../icons/tablet.png");
}
